.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px 0;
  z-index: 1;
  transition: transform 0.2s ease-in;

  &.site-header--hidden {
    transform: translateY(-100%);
  }
}

