.portfolio-item {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.portfolio-item__image-wrapper {

  .portfolio-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.portfolio-item__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in;

  .portfolio-item:hover & {
    opacity: 1;
  }
}

.portfolio-item__title {
  align-self: flex-start;
  color: var(--accent);
  font-size: 44px;
  user-select: none;
  margin: 0;
  margin-top: auto;
}

.portfolio-item__link {
  align-self: flex-end;
}